* {
  box-sizing: border-box;
}

.outerBlock {
  border: 5px solid blue;
}

.innerBlock {
  border: 5px solid red;
  padding: 10px;
}

.gridContainer {
  display: grid;

  /* задання сітки*/
  grid-template-columns: 1fr minmax(auto, 800px) 1fr;
  grid-template-rows: repeat(3, auto);

  /* ACSII-графіка */
  grid-template-areas:
    'a a a'
    '. b .'
    'c c c';

  /* неявні гріди */

  /* відступи між комірками */
  /* column-gap: 10px; */
  /* row-gap: 20px; */
}

.area:first-child {
  grid-area: a;
}

.area:nth-child(2) {
  grid-area: b;
}
.area:nth-child(3) {
  grid-area: c;
}
