* {
  box-sizing: border-box;
}

.outerBlock {
  border: 5px solid blue;
}

.innerBlock {
  border: 5px solid red;
  padding: 10px;
  width: 100%;
  min-width: 150px;
  max-width: 200px;
}

.gridContainer {
  display: grid;

  /* задання сітки*/
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  /* неявні гріди */
  grid-auto-rows: 100px;

  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
}
